.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  display: flex;
  z-index: 1000;
  padding: 4rem calc(6rem + 15px) 4rem 6rem;
  justify-content: center;
}

@media (max-width: 40rem) {
  .modal {
    padding: 3rem calc(4rem + 15px) 3rem 4rem;
  }
}
