.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

@media (max-width: 40rem) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
