* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-top: 5rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
}

.container {
  max-width: 1366px;
  padding: 0 1rem;
  margin: 0 auto;
}
